* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos para el cuerpo del documento */
body {
  background: var(--primary);
  font-family: "Poppins", sans-serif;
  color: var(--secondary);
}
/* Colores de las variables */
:root {
  --primary: #242222;
  --secondary: #b1a8a8;
  --accent: #3fff8f;
  --accent2: #02923e;
  --secondary2: #e0dcdc;
  --secondary3: #c9c0c0;
}
/* estilo para titulo*/
.titulo {
  font-size: 2rem;
  margin: 20px;
  color: var(--accent);
  padding: 5px;
  align-items: center;
}
.titulo span {
  color: var(--secondary);
}
.titulo span .barra {
  color: var(--accent2);
}
/* Estilos para el menú */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 60px;
}
/* Estilos para el contenedor del menú */
.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  position: relative;
}
/* Estilos para la lista del menú */
.menu-list {
  list-style: none;
  display: flex;
  padding: 10px;
  gap: 20px;
}
.menu-list li {
  position: relative;
  align-items: center;
  display: flex;
}
.menu-list li:hover {
  border-bottom: 2px solid var(--accent);
}

/* Estilos para los enlaces del menú */
.menu-list li a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.2rem;
  padding: 5px;
  transition: color 0.5s;
  font-weight: bold;
}
.menu-list li a:hover {
  color: var(--accent);
}
/* Estilos para el menu toggle */
.menu-toggle {
  border: none;
  background: none;
  color: var(--secondary);
  flex-direction: column;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 25px;
  display: none;
}
/* Estilos para el submenú responsivo 768px */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    text-align: center;
    z-index: 999;
    display: none;
  }
  .menu-list li {
    width: 100%;
    align-items: center;
    justify-content: center;

    left: 0;
    transition: border-bottom 1s ease;
  }

  .titulo {
    font-size: 1.8rem;
  }
  .menu-list li a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
  }
}
/* Estilos para el submenú responsivo 480px */
@media (max-width: 480px) {
  .menu-toggle {
    font-size: 2.5rem;
    right: 15px;
  }
  .titulo {
    font-size: 1.5rem;
  }
  .menu-list li a {
    font-size: 1rem;
  }
  .menu-list {
    gap: 10px;
  }
}
/* Estilos para el menú activo en dispositivos móviles */
.menu.active {
  .menu-list {
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: var(--primary);
    padding: 20px 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  background: var(--primary);
  width: 100%;
  position: relative;
  top: 80px;
}
h2 .barra{
  color: var(--accent2);
}
h2 {
  color: var(--accent);
  font-size: 2rem;
  margin-bottom: 10px;
}